.page-body{
  position: relative;
  display: flex;
  justify-content: center;
  
  height: 3000px;
  margin-top: 80px;
  background: linear-gradient(to top, black 94%, rgba(49, 3, 3, 1) 100%);

  }

  .intro{
    background-color: transparent;
    display: flex;
    position: absolute;
    padding-left: 0px;
    margin-left: -25px;
    height: 300px;
    width: 1000px;
    margin-top: 280px;
    justify-content:start;
  

  }

 .intro .web-3{
  font-family: Arial, Helvetica, sans-serif;
  
  
 }

 .web-3{
  background-color: transparent;
  padding-left:0px ;
  margin-left: -20px;
  width: 650px;
  
  
  
 }

 .nft-infrastructure{
  font-weight: 900px;
  font-size: 48px;
  color: white;

 }

 .intro-info{
  color: rgb(230, 226, 226);
  font-size: 18px; 
  font-weight: lighter;
  padding-top: 15px;

 }

 .the-buttons{
  margin-top: 30px;
  display: flex;
  
 }

 .the-buttons div{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  transition:border-color, 0.15s ;
  background: linear-gradient(to left, rgb(24, 2, 2) 30%, rgba(49, 3, 3, 1) 100%);
  color: white;
  border: solid;
  border-width: 0.2px;
  border-color: rgba(109, 6, 6, 0.377);
  

 }

  .the-buttons div:hover{
    border: solid;
    border-width: 0.3px;
    border-color: red;
    cursor: pointer;
  }

 .documentation-button{
  padding: 15px 13px 10px 13px;
  display: flex;
  justify-content: center;
 

 }

 .whitepaper, .launch-icon{
   margin-right: 12px;
   
 }


 .lauch-button{
  display: flex;
  justify-content: center;
  margin-left: 25px;
  padding: 15px 13px 10px 8px;
  width: 150px;

}




 .vector-img{
  background-color: transparent;
  padding-left: 110px;
  padding-top: 5px;
 }